li {
    list-style-type: none;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

/*////////////////////////
       Opdracht 1a
////////////////////////*/

.navbar-one ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*////////////////////////
       Opdracht 1b
////////////////////////*/

.navbar-two ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/*////////////////////////
       Opdracht 1c
////////////////////////*/

.navbar-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-three ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/*////////////////////////
       Opdracht 1d
////////////////////////*/

.navbar-four {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar-four ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
}

.navbar-four .buttons{
    justify-content: flex-end;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

/*////////////////////////
       Opdracht 1e
////////////////////////*/

.navbar-five {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-five ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}