/* ------------------ Global ------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

ul {
    list-style-type: none;
}

/* ------------------ For testing only ------------------------- */
/* remove before final upload*/

.border-red, .border-blue, .border-green {
    border: 2px dashed;
}

.border-red {
    border-color: red;
}

.border-blue {
    border-color: blue;
}

.border-green {
    border-color: green;
}

/* ------------------ Navbar ------------------------- */
aside{
    display:flex;
    flex-basis:250px;
    flex-shrink: 0;
    flex-grow: 1;
}

nav {
    display: flex;
    flex-basis: 250px;
    flex-shrink: 0;
    flex-grow: 1;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.navbar-org{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.navbar ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.menu-link-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: baseline;
    gap: 10px;
}

.navbar .buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    flex-grow: 1;
}

.buttons li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ------------------ Main content ------------------------- */
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 500px;
    flex-grow: 5;
    overflow: auto;
}

